body {
  margin: 0;
  font-family: 'Orienta', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Orienta', sans-serif;
}

* {
  font-family: 'Fira Sans', sans-serif;;
}
